<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss} [%thread] - %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DISCORD" class="noukkisBot.logging.DiscordAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss} [%thread] [%-5level] %logger{36} - %msg%n```Java%n%ex{full}```</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    
    <root level="info">
        <appender-ref ref="STDERR" />
        <appender-ref ref="DISCORD" />
    </root>

</configuration>